site_name: Разработка алгоритма поиска областей электромагнитной обстановки
site_url: https://euuuuuukov.github.io/practice-emo/
site_description: Документация по практике
site_author: Коваленко Евгений
copyright: Коваленко Евгений, @euuuuuukov, 2026

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: teal
      accent: lime

nav:
  - Главная: index.md
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - codehilite
  - extra
  - toc:
      permalink: true
